 h1 , h3 , h4 , p {
        text-align: center;
    }

    p{
        color: red;
        line-height: 30px;
    }

    .black-class{
        color: black;
        text-decoration: underline;
    }

    body{
        font-family: Georgia;
    }

    a{
        text-decoration: none;
        color: green;
    }

    button{
        color: blueviolet;
        background-color: white;
    }

    textarea{
        color: #000;
    }
